bin/Debug/net5.0/Arbre.dll
bin/Debug/net5.0/Arbre.pdb
bin/Debug/net5.0/ref/Arbre.dll
obj/Debug/net5.0/Arbre.AssemblyInfoInputs.cache
obj/Debug/net5.0/Arbre.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/Arbre.AssemblyInfo.cs
obj/Debug/net5.0/Arbre.csprojAssemblyReference.cache
obj/Debug/net5.0/Arbre.dll
obj/Debug/net5.0/Arbre.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Arbre.pdb
obj/Debug/net5.0/ref/Arbre.dll
